<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="author" content="bbon" />
    <meta name="description" content="Provides some features" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#FF0000" />
    <meta property="og:title" content="apps.bbon.me" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://apps.bbon.me" />
    <meta property="og:image" content="/bbon-icon.png" />
    <meta property="og:description" content="Provides some features." />
    <meta property="og:site_name" content="apps.bbon.me" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon" sizes="144x144" href="/bbon-icon-144.png" />
    <!-- iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon" sizes="114x114" href="/bbon-icon-114.png" />
    <!-- first- and second-generation iPad: -->
    <link rel="apple-touch-icon" sizes="72x72" href="/bbon-icon-72.png" />
    <!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon" href="/bbon-icon-57.png" />
    <link rel="manifest" href="/app.webmanifest">
    <title><%= title %></title>
    <script>
        window.GAID = '<%= gaid %>';
        window.app = {
            title: '<%= title %>',
            version: '<%= version %>',
            description: '<%= description %>'
        };
    </script>
</head>
<body>
    <noscript>Please Enable JavaScript. This app needs Javascript to run this app.</noscript>
    <div id="app"></div>
</body>
</html>